p {
	background-color: grey;
  border: 1px solid red;
  color: maroon;
}
h1, h2 {
	font-family: Arial;
	color: grey;
}

/* 新增规则，为 h1 新增边框样式 */
h1 {
	border-bottom：1px solid black;
}

p {
	color: maroon;
}


